.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
  border: 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator {
  width: 40%;
  height: 40%;
  max-width: 500px;
  min-width: 200px;
  margin: auto;
  display: grid;
  grid-template-rows: 3fr repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas: 'a a a a'
  'e f g h'
  'i j k l'
  'm n o p'
  'q r s t'
  'u v w w';

  gap: 10px;
}

.screen {
  grid-area: a;
  display: flex;
  flex-direction: column;
  border: 5px solid lightgreen;
  border-radius: 8px;
}

.opening-bracket {
  grid-area: e;
}
.closing-bracket {
  grid-area: f;
}
.clear {
  grid-area: g;
}
.add {
  grid-area: h;
}
.subtract {
  grid-area: l;
}
.multiply {
  grid-area: p;
}
.divide {
  grid-area: t;
}
.equals {
  grid-area: w; 
}

.button {
  color: blue;
  border: 1px solid lightgreen;
  height: 100%;
  border-radius: 5px;
}
.button:hover {
  border: 4px solid lightgreen;
}

.answer {
  /* border: 2px solid; */
  padding: 10px;
  flex-grow: 1;
  text-align: end;
  color: rgba(9, 10, 9, 0.328);
}
.computation {
  flex-grow: 1;
  text-align: end;
  padding: 20px;
  font-size:x-large;
  /* border: 2px solid; */

}